<body>
    <div class="product-details" >
        <div class="cont-hijo">
            <div class="tituloResponsivo">
                <h2 class="product-title"><b>{{productoSeleccionado.titulo}}</b></h2>
            </div>
            <div class="product-images">
                <img src="{{productoSeleccionado.imagen}}" alt="Producto 1">
            </div>
            <div class="product-info">
                <div class="titulo">
                    <h2 class="product-title"><b>{{productoSeleccionado.titulo}}</b></h2>
                </div>
                <div class="calificacion">
                    <h2 class="tamanio">⭐️⭐️⭐️⭐️⭐️</h2>
                    <label for="">15 calificaciones</label>
                </div>
                <p class="product-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor ullam aspernatur voluptatem est temporibus nemo ratione, obcaecati, architecto dolore consequuntur amet id corrupti aliquam incidunt accusamus. Et doloremque fugit culpa nostrum autem alias, repudiandae nihil mollitia aspernatur dicta quis maxime earum quisquam? Repellendus, odit ea pariatur rem exercitationem, obcaecati ullam natus necessitatibus maiores nam accusantium fugiat ut debitis repudiandae neque!</p>
                <p class="product-price">$ 500 MXN</p>
                <div class="product-features">
                    <div class="tituloCaracteristicas">
                        <h3>Características</h3>
                    </div>
                    <ul>
                        <li>Característica 1</li>
                        <li>Característica 2</li>
                        <li>Característica 3</li>
                    </ul>
                </div>
                <div id="btn">
                    <button id="btn-verde">Comprar</button>
                    <button id="btn-azul">Agregar al carrito</button>
                </div>
            </div>
        </div>
    </div>
    <div class="cont-padre">
        <div class="contenedor">
            <hr>
            <div class="product-reviews">
                <h3>Comentarios</h3>
                <div class="review">
                    <div class="review-header">
                        <p class="review-user">Usuario 1</p>
                        <p class="review-rating">⭐️⭐️⭐️⭐️⭐️</p>
                    </div>
                    <p class="review-text">Excelente producto. Muy satisfecho.</p>
                    <div class="btnResponsivo">
                        <button id="btn-verde" class="like-button">👍</button>
                        <button id="btn-rojo" class="dislike-button">👎</button>
                    </div>
                </div>
                <div class="review">
                    <div class="review-header">
                        <p class="review-user">Usuario 2</p>
                        <p class="review-rating">⭐️⭐️⭐️</p>
                    </div>
                    <p class="review-text">Buen producto, pero podría mejorar en...</p>
                    <div class="btnResponsivo">
                        <button id="btn-verde" class="like-button">👍</button>
                        <button id="btn-rojo" class="dislike-button">👎</button>
                    </div>
                </div>
            </div>
            <hr>
            <div class="product-reviews">
                <h4>Comenta que te pareció el producto</h4>
                <div class="review">
                    <div class="review-header">
                        <textarea name="" class="cont_textarea"  style="width: 100%; padding: 20px; height: 120px;" placeholder="Escribe algo :D"></textarea>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</body>
