<body>
    <div class="Portada">
        <div class="portada-hijo">
            <div class="portada-nieto">
                <img id="emblema3" src="assets/img/emblema2.png" alt="" />
                <h1>¡¡Disfrazate para este Halloween!! :)</h1>
            </div>
            <div class="portada-nieto2">
                <img id="modelo1" src="assets/img/PortadaBruja1.png" alt="" />
                <img id="modelo2" src="assets/img/PortadaBruja2.png" alt="" />
                <!-- <img id="modelo3" src="assets/img/PortadaBruja3.png" alt="" /> -->
            </div>
        </div>
    </div>
</body>
